<!doctype html>
<html lang="zh-cmn" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>丁丁用车登录</title>
    <header th:replace="comm :: header_web"></header>
    <link th:href="@{/css/myself/login.min.css}" rel="stylesheet">
   <style>
       body{background-color: #2D2D2D}
         .content {
            color: #ffffff;
        }
        
   </style>

</head>

<body>
<div ></div>
<div class="row"  id="mydiv" style="height:auto;">
    <div class="col-sm-2"></div>
        <div class="col-sm-8 content content-front">
           <div class="signinpanel" style="background: url(../css/patterns/header-profile.png) repeat;padding:30px;opacity:0.9;">
        <div class="row">
            <div class="col-sm-7">
                <div class="signin-info" style="padding-left:20px;">
                    <div class="logopanel m-b">
                        <h1>丁丁用车</h1>
                    </div>
                    <div class="m-b"></div>
                    <h4>欢迎使用 <strong>丁丁用车后台管理系统</strong></h4>
                  
                </div>
            </div>
            <div class="col-sm-5">
                <form id="loginForm" action="index.jsp">
                    <h4 class="no-margins"></h4>
                    <p class="m-t-md" id="loadingMsg" style="font-size:18px;color:red;display:none;"></p>
                    <input id="txtAccount" name="txtAccount" type="text" class="form-control uname" placeholder="用户名" required=""/>
                    <input id="txtPassword" name="txtPassword" type="password" class="form-control pword m-b" placeholder="密码" required=""/>
                    <div style="width:100%;height:40px;display:none;">
                     <div style="width:60%;float:left;">
                    <input id="verifycode" type="text" class="form-control" style="width:100%;margin:0px;color:#444;"  placeholder="请输入验证码" />
                    </div>
                    <div style="width:40%;float:left;">
                    <img id="randImage" height="30" style="background-color: #B7F1D7;float:right;width:100%;cursor:pointer;" onclick="loadimage()" />
                   
                    </div>
                    </div>
			 </form>  
                <button onclick="login()" class="btn btn-success btn-block" id="btnLogin">登录</button>
                
            </div>
        </div>
        <div class="signup-footer" style="padding-left:20px;">
            <div class="pull-left">
                &copy; <span id="nowYear"></span> All Rights Reserved.
            </div>
        </div>
    </div>
        </div>
    <div class="col-sm-2"></div>
</div>
   
    <footer th:replace="comm :: footer_web"></footer>
<script th:src="@{/js/myself/canvas-particle.js}"></script>
<script type="text/javascript">



	$(function() {

            //配置
            var config = {
                vx: 4,	//小球x轴速度,正为右，负为左
                vy: 4,	//小球y轴速度
                height: 2,	//小球高宽，其实为正方形，所以不宜太大
                width: 2,
                count: 200,		//点个数
                color: "121, 162, 185", 	//点颜色
                stroke: "130,255,255", 		//线条颜色
                dist: 6000, 	//点吸附距离
                e_dist: 20000, 	//鼠标吸附加速距离
                max_conn: 10 	//点到点最大连接数
            }

            //调用
            CanvasParticle(config);

		$('.bg').css("height",$(window).height()+"px");
		$('#nowYear').html((new Date()).getFullYear());
		loadimage();
		if (document.addEventListener) {//如果是Firefox   
			document.addEventListener("keypress", fireFoxHandler, true);
		} else {
			document.attachEvent("onkeypress", ieHandler);
		}
		
	});
	function fireFoxHandler(evt) {
		if (evt.keyCode == 13) {
			if (evt.target.id == 'txtPassword' || evt.target.id =='txtAccount'||evt.target.id == 'verifycode') {
				login();
			}
		}
	}
	function ieHandler(evt) {
		if (evt.keyCode == 13) {
			if (evt.target.id == 'txtPassword' || evt.target.id =='txtAccount'||evt.target.id == 'verifycode') {
				login();
			}
		}
	}
	function loadimage() {
		//document.getElementById("randImage").src = "${ctx}/pages/verifyCode.jsp?"
		//		+ Math.random();

	}
	function login(){
		
		httpPost(ctx+'/api/user/loginManager',{
			account : $('#txtAccount').val(),
			password : $('#txtPassword').val(),
			verifycode:$("#verifycode").val()
		},function(msg){
			if (msg.status == 200) {
				window.location.href="index";
			} else {
				$('#loadingMsg').fadeIn();
				$('#loadingMsg').html(msg.msg);
			}
		},function(){
			$('#loadingMsg').hide();
			$('#loadingMsg').html('');
		});
		
	}
</script>

</body>
</html>
