<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddcar.mapper.TbDtoMapper" >
  <resultMap id="TbDotMap" type="com.ddcar.entity.TbDot" >
    <id column="dot_id" property="dotId" jdbcType="BIGINT" />
    <result column="dot_name" property="dotName" jdbcType="VARCHAR" />
    <result column="dot_address" property="dotAddress" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="types" property="types" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="adminname" property="adminname" jdbcType="VARCHAR" />
    <result column="sfzh" property="sfzh" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="deleteFlag" property="deleteFlag" jdbcType="INTEGER" />
    <result column="createBy" property="createBy" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="VARCHAR" />
    <result column="modifyBy" property="modifyBy" jdbcType="VARCHAR" />
    <result column="modifyTime" property="modifyTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
    dot_id, dot_name, dot_address, type, types, phone, account, password, adminname, sfzh, age, state, deleteFlag, createBy, createTime, modifyBy, modifyTime
  </sql>
  <!--查询-->
  <select id="findTbDot" resultType="com.ddcar.entity.TbDot">
    SELECT * from tb_dot WHERE delete_flag=0
  </select>
  <!--根据ID查询-->
  <select id="findTbDotId" resultType="com.ddcar.entity.TbBrand">
    SELECT * from tb_dot WHERE dot_id=#{dotId,jdbcType=BIGINT}
  </select>
  <!--删除网点-->
  <update id="delTbDot">
    update tb_dot set delete_flag=1 where dot_id = #{dotId,jdbcType=BIGINT}
  </update>
  <!--创建网点-->
  <insert id="insertTbDot" parameterType="com.ddcar.entity.TbDot" >
    insert into tb_dot
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dotId != null">
        dot_id,
      </if>
      <if test="dotame != null">
        dot_name,
      </if>
      <if test="dotAddress != null">
        dot_address,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="types != null">
        types,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="adminname != null">
        adminname,
      </if>
      <if test="sfzh != null">
        sfzh,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="deleteFlag != null" >
        deleteFlag,
      </if>
      <if test="createBy != null" >
        createBy,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="modifyBy != null" >
        modifyBy,
      </if>
      <if test="modifyTime != null" >
        modifyTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dotId != null" >
        #{dotId,jdbcType=BIGINT},
      </if>
      <if test="dotName != null" >
        #{dotName,jdbcType=VARCHAR},
      </if>
      <if test="dotAddress != null" >
        #{dotAddress,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
      #{type,jdbcType=BIGINT},
      </if>
      <if test="types != null" >
        #{types,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="adminname != null" >
        #{adminname,jdbcType=VARCHAR},
      </if>
      <if test="sfzh != null" >
        #{sfzh,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=BIGINT},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=long},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=BIGINT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyBy != null" >
        #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateTbDot" parameterType="com.ddcar.entity.TbDot" >
    update tb_dot
    <set >
      <if test="dotId != null" >
        #{dotId,jdbcType=BIGINT},
      </if>
      <if test="dotName != null" >
        #{dotName,jdbcType=VARCHAR},
      </if>
      <if test="dotAddress != null" >
        #{dotAddress,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=BIGINT},
      </if>
      <if test="types != null" >
        #{types,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="adminname != null" >
        #{adminname,jdbcType=VARCHAR},
      </if>
      <if test="sfzh != null" >
        #{sfzh,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=BIGINT},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=BIGINT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyBy != null" >
        #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=VARCHAR},
      </if>
    </set>
    where brand_id = #{brandId,jdbcType=BIGINT}
  </update>

</mapper>